// Variables
@import "variables";

body {
    background-color: $body-bg;
    background-image: url("../img/lock.png");
    background-repeat: no-repeat;
    background-position: right 15% top 360px; 
    color: $text-color;
}

.main-content {
    min-width: 380px;
    max-width: 65%;
    margin: 175px auto 0;
}